{% extends 'base.html' %}
{% block content %}
<center>
  
<form method="POST">  {% csrf_token %}
  
    {{ form.non_field_errors }}
    {% for user in user%}
     <div class="form-group my-2">
        <label> {{user.label_tag}}</label>
        {{ user }}
        <span class="text text-danger">{{ user.errors }}</span>
    
   
    {% endfor %}


    {% for field in form%}
     <div class="form-group my-2">
        <label> {{field.label_tag}}</label>
        {{ field }}
        <span class="text text-danger">{{ field.errors }}</span>
    
   
    {% endfor %}
</form>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

</center>

{% endblock content %}