{% extends 'base_site.html' %}

{% block maincontent %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form.media}}
    {{ form.non_field_errors }}
    {% for field in form%}
     <div class="form-group my-2">
        <label> {{field.label_tag}}</label>
        {{ field }}
        <span class="text text-danger">{{ field.errors }}</span>
    </div>
    {% endfor %}
    <div class="form-group my-2">
    
        <label> User:</label>
        <input class="form-control" type="text" readonly value="{{ request.user }}">
    </div>
    <input type="submit" name="Submit" class="btn btn-primary" value="Submit" id="">
</form>
{% endblock maincontent %}