

{% extends 'base_site.html' %}

{% block maincontent %} 
<h1>posts List</h1>
<table class="table table-bordered table-hover">
<thead>
   <tr>
    
    <th>Description</th>
   <th>Action</th>

   </tr>
</thead>
   {% for posts in post %}
<tbody>
   <tr>
   
    <td><a href="{% url 'posts:posts_edit' posts.id %}">{{posts.description}}</a></td>
   
   
  <td>
<button data-postsid="{{posts.id}}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
 </button>
  </td>
   </tr>
   {% endfor %}
</tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         Are You Sure You Want to delete this posts?
         <form id="deleteform" method="post" action="{% url 'posts:posts_delete' %}">{% csrf_token %}
            <input type="hidden" name="postsid" id="_postsid">
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
         <button id="deletebutton" type="submit" class="btn btn-danger">Yes</button>
       </div>
     </div>
   </div>
 </div>

{% endblock maincontent %}
{% block script%}
{{ block.super }}
<script type="text/javascript">
   $(document).ready(function()
   {
      $.ajax({
         url:'/demo-for-ajax',
         type:'GET',
         dataType:'json',
         success:function(res){
            console.log(res);
         },
         error:function(res){
            console.log(res);
         }
      });

      let modal=document.getElementById("exampleModal");
      modal.addEventListener("show.bs.modal",function(evt){
         let btn=evt.relatedTarget;
         let postsid=btn.dataset.postsid;
         $("#_postsid").val(postsid);
      });
      $("#deletebutton").click(function(){
         $("#deleteform").submit();
      })
   });
   </script>
{% endblock script %}
